.cm-line-typewriter {
  // color: coral;
  animation:
    typing 0.875s steps(22),
    blink 0.0625s step-end infinite alternate;
  border-right: 1.5px solid;

  width: 100%;
  // 👇 make characters on the right of the line invisible
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
